.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
  }
  
  .btn {
    border: 2px solid gray;
    color: lightgray;
    background-color: white;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
  }

  .btn:hover{
    border: 2px solid blue;
    color: blue;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }